doctype html 
html 
    head 
        title #{title}
    body
        h1 TO DO LIST
        ul
            each todo, index in usertodo
                li  #{todo.list}
        a(href="/form") Add a new Todo
        